Flask
flask-cors
flask-limiter
python-dotenv
requests
gunicorn
joblib
scikit-learn
numpy
werkzeug
flask-jwt-extended
pymongo
pytesseract
pillow
pdfplumber
slowapi
python-dotenv
flask-limiter
bcrypt
requests
pandas